

       /$$$$$$$            /$$       /$$      /$$           /$$
      | $$__  $$          | $$      | $$  /$ | $$          |__/
      | $$  \ $$  /$$$$$$ | $$$$$$$ | $$ /$$$| $$  /$$$$$$  /$$
      | $$$$$$$/ /$$__  $$| $$__  $$| $$/$$ $$ $$ /$$__  $$| $$
      | $$__  $$| $$  \ $$| $$  \ $$| $$$$_  $$$$| $$$$$$$$| $$
      | $$  \ $$| $$  | $$| $$  | $$| $$$/ \  $$$| $$_____/| $$
      | $$  | $$|  $$$$$$/| $$$$$$$/| $$/   \  $$|  $$$$$$$| $$
      |__/  |__/ \______/ |_______/ |__/     \__/ \_______/|__/
 
 
 Robin Weiligmann 
 
 Server:  {{ ansible_hostname }}
 Besitzer: {{ server_besitzer }}

{% if ansible_eth0 is defined %}
 Öffentliche IPs: {{ansible_eth0.ipv4.address}} / {{ansible_eth0.ipv6[0].address}}
{% endif %}

 Domäne: {{ group_names | last }}

