
     ///////  ///////  ////   ////    /////////
    //       //       // //  // //     ///
   ///////  ///////  //  // //  //       ////
  //       //       //    ///   //         ///
 //       //       //     //    //   /////////
 
 Freifunk Münsterland 
 
 Server:  {{ ansible_hostname }}
 Besitzer: {{ server_besitzer }}

 Öffentliche IPs: {{ansible_eth0.ipv4.address}} / {{ansible_eth0.ipv6[0].address}}

 Domäne: {{ group_names | last }}

