#Internet Exchanges
{% for interface in ix_interfaces %}
#{{ interface.name }}
auto {{ interface|first }}
iface {{ interface|first }}
{% if interface.address_v4 is defined and interface.gateway_v4 is defined %}
        address {{ interface.address_v4 }}
        gateway {{ interface.gateway_v4 }}
{% endif %}
{% if interface.address_v6 is defined and interface.gateway_v6 is defined %}
        address {{ interface.address_v6 }}
        gateway {{ interface.gateway_v6 }}
{% endif %}
{% if interface.nameserver is defined %}
        dns-nameserver {{ interface.nameserver }}
{% endif %}
{% if interface.post_up is defined %}
{% for entry_up in interface.post_up %}
        post-up {{ entry_up }}
{% endfor %}
{% endif %}
{% if interface.pre_down is defined %}
{% for entry_down in interface.pre_down %}
        pre-down {{ entry_down }}
{% endfor %}
{% endif %}
{% endfor %}

