filter bgp_in {
        #if net = 8.8.8.0/24 then reject; #Muster regel um einzelne Routen weg zu filtern.
        accept;
}

filter bgp_out {
{% if router.ipv6.net is defined %}
        if net = {{ router.ipv6.net }} then accept;
{% endif %}
        reject;
}

