<!--
WARNING: This file is managed by ansible, don't make changes here - they will be overwritten.
-->
<pool type="dir">
  <name>{{item.name}}</name>
  <target>
    <path>{{item.location}}</path>
  </target>
</pool>